<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Bir seyahat mi planlıyorsunuz?</h2>
                <h4>3 Dakika İçinde Seyahatini Planla</h4>
            </div>
            <div class="col-lg-4">
                <div class="border-button">
                    <a href="/Default/Index/">Tur Rotaları</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © @DateTime.Now.Year <a href="#">Woox Travel</a> Company. Tüm hakları saklıdır.
                    <br><a href="/Login/Index/" target="_blank">Admin Girişi</a>
                </p>
            </div>
        </div>
    </div>
</footer>