<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.themekita.com">
                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            MY EĞİTİM AKADEMİ 5. DÖNEM   MURAT YÜCEDAĞ
            <a href="http://www.themekita.com"></a>
        </div>
        <div>
            
            <a target="_blank" href="https://www.linkedin.com/in/onurhcs/">ONUR HACIOSMANOĞLU</a>.
        </div>
    </div>
</footer>